<ion-header>
  <ion-toolbar no-border-top color="primary">
    <ion-title>List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let item of storeList" (click)="goToSessionDetail(item)" text-wrap>
      <ion-avatar item-start>
        <img *ngIf="item.imgUrl" [src]="item.imgUrl" />
      </ion-avatar>
      <h2>{{item.name}} <span *ngIf="item.distance; else locationBlock">({{item.distance | number:'1.1-1'}} mi.)</span></h2>
      <h4>{{item.address}}</h4>
      <h5 *ngIf="item.todayOpen">
        <ion-badge>Hours</ion-badge>
        {{item.todayOpen | date:'shortTime'}} - {{item.todayClose | date:'shortTime'}}
      </h5>
      <p *ngIf="item.wifi"><ion-badge>WiFi Password</ion-badge> {{item.wifi}}</p>
      <ng-template #locationBlock><h5>Enable location services to show distance</h5></ng-template>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar class="dp-searchbar">
    <ion-searchbar
       [(ngModel)]="queryText"
       (ionInput)="searchItems()"
       placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>
</ion-footer>
