<ion-header>
  <ion-toolbar no-border-top>
    <ion-title>List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list #scheduleList>
    <ion-item *ngFor="let item of storeList" (click)="goToSessionDetail(item)">
      <ion-avatar item-start>
        <img *ngIf="item.imgUrl" [src]="item.imgUrl" />
      </ion-avatar>
      <h2>{{item.name}}</h2>
      <h4>{{item.address}}</h4>
      <h5 *ngIf="item.distance;else elseBlock">{{item.distance | number:'1.1-1'}} mi.</h5>
      <ng-template #elseBlock><h5>Enable location services to show distance</h5></ng-template>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-searchbar color="primary"
       [(ngModel)]="queryText"
       (ionInput)="searchItems()"
       placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>
</ion-footer>
