
.md {
  ion-searchbar {
    .searchbar-input {
      background: #242424;
      color: white;
    }
  }
}

.ios {
  .dp-searchbar {
    .toolbar-background-ios {
      background: color($colors, primary, base);
    }
  }
}
