<ion-header>
  <ion-toolbar no-border-top>
    <ion-title *ngIf="menu">{{menu.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="funnel" (click)="displayFilters()"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="menu">
    <ion-list>
      <ion-item *ngFor="let beverage of menu">
        <ion-avatar item-start>
          <img *ngIf="beverage.Beverage.ResolvedLogoImageUrl" [src]="beverage.Beverage.ResolvedLogoImageUrl" />
        </ion-avatar>
        <h2>{{beverage.Beverage.BeverageProducer.ProducerName}} - {{beverage.Beverage.BeverageName}}</h2>
        <h4 *ngIf="beverage.Beverage.BeverageStyle">{{beverage.Beverage.BeverageStyle.CultureAwareStyleName}}</h4>
        <h5>{{beverage.Beverage.BeverageProducer.LocationName}}<span>ABV</span>{{beverage.Beverage.Abv | number:'1.1-1'}}%<span>Keg</span>{{beverage.PercentFull | percent:'1.0-0'}}</h5>
        <p><span *ngFor="let size of beverage.Prices">{{size.DisplayName}}: {{size.Price | currency:'USD':true:'1.2-2'}}</span></p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-searchbar (ionInput)="searchItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-footer>
