<ion-header>
  <ion-toolbar no-border-top>
    <ion-title>List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list #scheduleList>
    <ion-item *ngFor="let item of storeList" (click)="goToSessionDetail(item)">
      <ion-avatar item-start>
        <img *ngIf="item.imgUrl" [src]="item.imgUrl" />
      </ion-avatar>
      {{item.name}} {{item.address}}
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-searchbar color="primary"
       [(ngModel)]="queryText"
       (ionInput)="searchItems()"
       placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>
</ion-footer>
