<ion-header>
  <ion-navbar no-border-top>
    <ion-title *ngIf="storeName">{{storeName}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="displayFilters($event)">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="menu">
    <ion-list>
      <ion-item *ngFor="let beverage of menu" (click)="log(beverage)">
        <ion-avatar item-start>
          <img *ngIf="beverage.imgUrl" [src]="beverage.imgUrl" />
        </ion-avatar>
        <h2 color="secondary">{{beverage.producerName}} - {{beverage.name}}</h2>
        <h4 *ngIf="beverage.style">{{beverage.style}}</h4>
        <h6>{{beverage.city}}</h6>
        <h5>
          <ion-badge *ngIf="beverage.nitro" color="light">Nitro</ion-badge>
          <ion-badge>ABV</ion-badge>
          <span *ngIf="beverage.abv; else elseABV">{{beverage.abv | number:'1.1-1'}}%</span>
          <ng-template #elseABV>???%</ng-template>
          <ion-badge>Keg</ion-badge>
          <span *ngIf="beverage.kegLife > 0; else elsePercentFull">{{beverage.kegLife | percent:'1.0-0'}}</span>
          <ng-template #elsePercentFull>???%</ng-template>
          <ion-badge>Tapped</ion-badge>
          <span>{{beverage.datePutOn | date:'shortDate'}}</span>
        </h5>
        <p><span *ngFor="let size of beverage.prices">{{size.DisplayName}}: {{size.Price | currency:'USD':true:'1.2-2'}}</span></p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-searchbar (ionInput)="searchItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-footer>
