<ion-header>
  <ion-navbar no-border-top>
    <ion-title *ngIf="storeName">{{storeName}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="displayFilters($event)">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-segment [(ngModel)]="list" (ionChange)="toggleList(list)">
    <ion-segment-button value="onTap">
      On Tap
    </ion-segment-button>
    <ion-segment-button value="upNext">
      Up Next
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <div *ngIf="menu">
    <ion-list>
      <ion-item *ngFor="let beverage of menu" (click)="log(beverage)">
        <ion-avatar item-start>
          <img *ngIf="beverage.imgUrl" [src]="beverage.imgUrl" />
        </ion-avatar>
        <h2 color="secondary">{{beverage.producerName}} - {{beverage.name}}</h2>
        <h4 *ngIf="beverage.style">{{beverage.style}}</h4>
        <h6>{{beverage.city}}</h6>
        <h5>
          <ion-badge *ngIf="beverage.nitro" color="light">Nitro</ion-badge>
          <ion-badge>ABV</ion-badge>
          <span *ngIf="beverage.abv; else elseABV">{{beverage.abv | number:'1.1-1'}}%</span>
          <ng-template #elseABV>???%</ng-template>
          <ion-badge color="secondary" *ngIf="beverage.kegLife >= 0.75 && list === 'onTap'">Keg</ion-badge>
          <ion-badge *ngIf="beverage.kegLife > 0.25 && beverage.kegLife < 0.75 && list === 'onTap'">Keg</ion-badge>
          <ion-badge color="danger" *ngIf="beverage.kegLife <= 0.25 && list === 'onTap'">Keg</ion-badge>
          <span *ngIf="beverage.kegLife > 0 && list === 'onTap'; else elsePercentFull">{{beverage.kegLife | percent:'1.0-0'}}</span>
          <ng-template #elsePercentFull *ngIf="list === 'onTap'">???%</ng-template>
          <ion-badge *ngIf="list === 'onTap'">Tapped</ion-badge>
          <span *ngIf="list === 'onTap'">{{beverage.datePutOn | date:'shortDate'}}</span>
        </h5>
        <p><span *ngFor="let size of beverage.prices">{{size.DisplayName}}: {{size.Price | currency:'USD':true:'1.2-2'}}</span></p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-searchbar (ionInput)="searchItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-footer>
